body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(0, 0, 0);
  }
  
  .overlay {
    background: rgba(255, 255, 255, 0.75);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow-y: auto;
  }
  
  .about-container {
    max-width: 800px;
    text-align: center;
  }
  
  .main-title {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 1rem;
  }
  
  .intro-text {
    font-size: 1.3rem;
    color: #000000;
    margin-bottom: 2rem;
  }
  
  .about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #000000;
  }
  
/* Common button styling */
.btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    width: 250px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
  }
  
  /* Specific colors */
  .orange {
    background-color: #f9a825;
  }
  
  .blue {
    background-color: #26a69a;
    color: white;
  }
  
  .yellow {
    background-color: #fdd835;
  }